<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    
    <div class="card2">
        <h1>Joe Hodges</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac maximus augue. Nunc in molestie orci. Curabitur feugiat ac lectus et mollis. Aliquam lectus quam, semper sit amet dui eleifend, placerat sodales nulla. Maecenas magna mauris, tempor in nisi a, finibus tempus turpis. Aliquam rutrum ex dui, vel sodales ex cursus aliquet. Mauris dolor ex, venenatis vitae orci et, posuere pretium turpis.
        <a href="#Contact"><p><button>Contact</button></p></a>
</div>
</body>