<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/assets/css/styles.css">
<style>
    .button-left-container {
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;

    position: absolute;
    top: 47%;
    left: 25%;
    transform: translate(-50%, -50%);
    
  }
  .button-right-container {
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;

    position: absolute;
    top: 47%;
    left: 75%;
    transform: translate(-50%, -50%);
    
  }
</style>
</head>
<body>
    <!-- <div style="background-image: url('assets/img/Crypto%20(2).jpg');"> -->
        {% include navigation.html %}
        
        <!-- <div class="portfolioItem">
            <img src="/assets/img/Crypto%20(2).jpg" alt="{{site.name}}" style="width:50%; float:left;">
            <p>{{content}}</p>
        </div> -->
        <section id="Home">
            <div>
                <div class="button-left-container">
                <a href="/projects/"><button>Projects</button></a>
                </div>

                <div class="button-right-container">
                    <a href="/work/"><button>Work</button></a>
                </div>

                <div class="card">

                    <h2 style="text-align:center">{{site.title | upcase}}</h2>
                    <a href="#About"><div class="box">
                        <h1 class="logo">{{site.name}}</h1>
                        <p class="title">{{site.role}}</p>
                        <p>{{site.company}}</p>
                    </div></a>
                    <div style="margin-top: 20px; text-align: center;">
                        <a href="https://github.com/{{site.github_username}}"><i class="fa fa-github fa-lg"></i></a>  
                        <a href="https://www.linkedin.com/in/{{site.linkedin_username}}"><i class="fa fa-linkedin"></i></a> 
                    </div>
                    
                </div>
        </div>
        </section>

        <section id="About">
            <div>{% include about.html %}</div>
        </section>

        <section id="Contact">
            <div>{% include contact.html %}</div>
        </section>

    <!-- </div> -->

</body>
</html>
